<div class="card container mt-4">
  <div class="back">
    <button class="btn btn-back" (click)="getBack()">Back</button>
  </div>
  <div class="title">
    <h3>Add Employee</h3>
  </div>
  <div class="card-body">
    <form
      class="row g-3 needs-validation"
      #addUserForm="ngForm"
      (ngSubmit)="submitForm(addUserForm)"
    >
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">First name <span class="astrik">*</span></label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Enter First Name"
          required
          [(ngModel)]="employee.firstName"
          name="first"
          [class.is-invalid]="addUserForm.submitted && addUserForm.controls['first'].errors?.['required']"
        />
        <div class="invalid-feedback" *ngIf="addUserForm.submitted && addUserForm.controls['first'].errors?.['required']">
          First name is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Last name <span class="astrik">*</span></label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          placeholder="Enter Last Name"
          required
          [(ngModel)]="employee.lastName"
          name="last"
          [class.is-invalid]="addUserForm.submitted && addUserForm.controls['last'].errors?.['required']"
        />
        <div class="invalid-feedback" *ngIf="addUserForm.submitted && addUserForm.controls['last'].errors?.['required']">
          Last name is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">DOB <span class="astrik">*</span></label>
        <div class="input-group has-validation">
          <input
            class="form-control"
            type="text"
            id="dob"
            name="DOB"
            [(ngModel)]="employee.DOB"
            required
            maxlength="10"
            pattern="^\d{2}-\d{2}-\d{4}$"
            placeholder="dd-mm-yyyy"
            [class.is-invalid]="
              addUserForm.submitted &&
              !validateDOBFormat() && addUserForm.controls['DOB'].touched && addUserForm.controls['DOB'].errors?.['required']
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addUserForm.submitted &&
              !validateDOBFormat() &&
              addUserForm.controls['DOB'].touched
            "
          >
            Invalid DOB format. Use dd-mm-yyyy.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="addUserForm.submitted && addUserForm.controls['DOB'].errors?.['required'] && addUserForm.controls['DOB'].touched"
          >
            DOB is required.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Designation <span class="astrik">*</span></label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Enter Designation"
          required
          [(ngModel)]="employee.designation"
          name="designation"
          [class.is-invalid]="addUserForm.submitted && addUserForm.controls['designation'].errors?.['required']"
        />
        <div class="invalid-feedback" *ngIf="addUserForm.submitted && addUserForm.controls['designation'].errors?.['required']">
          Designation is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Salary <span class="astrik">*</span></label>
        <input
          type="number"
          class="form-control"
          id="validationCustom01"
          placeholder="Enter Salary"
          required
          [(ngModel)]="employee.salary"
          name="salary"
          [class.is-invalid]="addUserForm.submitted && addUserForm.controls['salary'].errors?.['required']"
        />
        <div class="invalid-feedback" *ngIf="addUserForm.submitted && addUserForm.controls['salary'].errors?.['required']">
          Salary is required.
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Status <span class="astrik">*</span></label>
        <select class="form-select" [(ngModel)]="employee.status" name="status" required [class.is-invalid]="addUserForm.submitted && addUserForm.controls['status'].errors?.['required']">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        <div class="invalid-feedback" *ngIf="addUserForm.submitted && addUserForm.controls['status'].errors?.['required']">
          Status is required.
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-back" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
