/* You can add global styles to this file, and also import other style files */
.title{
  display: flex;
  justify-content: center;
  color: lightslategrey;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-back{
  background-color: lightblue;
  color: white;
}

.back{
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.btn-back:hover{
  background-color: lightblue;
}

.astrik{
  color: red;
  font-weight: bold;
}
