.title{
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-add{
  background-color: lightblue;
  color: white;
}

.no-records{
  text-align: center;
  font-weight: 600;
  color: lightblue;
}

